@import "mixin";

$primary:#e44718;
$primary_light:#dd8740;
$primary_dark:#c53509;
$white:rgb(248, 238, 231);
$shadow_dark:0 2rem 6rem rgba(0,0,0,0.3);

* {
    margin: 0;
    padding: 0;
 }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
 }


  body {
    @include bg;
    background-image: linear-gradient(to right bottom, $primary_light, $primary_dark);
    min-height: 100vh;
    font-family: 'Ubuntu';
    font-weight: 400;
    line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
 

.line {
    background-color:$primary;
    width:3rem;
    height:3px;
    margin-bottom:1rem;
}

.container {
    max-width: 120rem;
    margin: 8rem auto;
    min-height: 50rem; 
}

.header {
    min-height: 80vh;
    display: flex;
    flex-direction:column;
    background-color:$white;
    background-image: url('../img/new.jpg');
    background-repeat: no-repeat;
    background-size:50rem 100%;
    background-position: right top; 
    padding:3rem;
    transform:translateX(0);


    animation:change 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode:forwards;

    &__logo {
        line-height:2.2rem;
        margin-bottom:10%;

        &-text {
            color:$primary;
            font-size:1.2rem;
        }

        &-heading {
            font-weight:800;
            font-size:3rem;
        }
    }


    &__info {
        display:flex;
        justify-content:space-between;
        line-height:5rem;

        &-box {
            width:20rem;
            height:20rem;
            border-radius:50%;
            background-color:$primary;
            background-image: url('../img/new.png');
            background-repeat: no-repeat;
            background-size:contain;
            background-position:center; 
            transform:rotate(0deg);
            transition:all 1s;
            

            animation:change1 2s;
            animation-delay: .0001s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-fill-mode:forwards;
            animation-direction: alternate-reverse;
        }

        &-text {
            color:$primary;
            font-size:6rem;
            max-width:50%;
        }

        &-img {
            animation:rotate 1s;
            cursor: pointer;
            animation-timing-function: ease-in-out;
            animation-iteration-count:infinite;
        }
    }

    &__line {
     width:4rem;
     height:3px;
     background-color:$primary;
     margin-bottom:3%;
    }

    &__button {
        display:flex;

        &-apple {
          @include button1;
          transition:all .3s;

          &:hover {
            background:#fff;
            color:$primary;
          } 
        }
        &-google {
            @include button2;
            transition:all .3s;
  
            &:hover {
              background:$primary-dark;
              color:#fff;
            } 
          }
    }

    &__container {
        width:68%;
    }
}

.features {
   height:auto; 
   display:flex;
   background-color:$white;
   justify-content:center;
   align-items:center;
   padding:7% 7%;

   &__box {
       font-size:1.2rem;
       margin-right:2rem;
       text-align:center;
       display:flex;
       flex-direction:column;
       justify-content:space-between;
       align-items:center;
       
       &__image {
            width: 10rem;
            height:10rem;

            img {
                width:100%;
            }
       }
   }
}

.chef {
  &-container {
    min-height:100vh;
    background-image: url('../img/ty.jpg');
    background-repeat: no-repeat;
    //background-size:cover;
    background-size:100% 100%;
  }

  &__intro {
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      color:$white;
      padding-top:5%;

      p {
          font-size:1.5rem;
      }

      h2 {
          font-weight:800;
          font-size:3.5rem;
      }
      &-line {
          height:4px;
          width:5rem;
          background-color:$primary;
          margin-bottom:4rem;
      }
  }

  &__cards {
      min-height:55rem;
      display:flex;
      justify-content:space-evenly;
      flex-wrap:wrap;
      padding:1rem;


      &__card-1 {
        @include card;
        background-image:linear-gradient(rgba(35, 34, 34, 0.693)), url('../img/sd.jpg');
        margin-right:1rem;
        transition:all .2s;
        transform:scale(0.9);

        &:hover {
            transform:scale(1);
            filter: grayscale(0);
            background-image:linear-gradient(rgba(35, 34, 34, 0)), url('../img/sd.jpg');
        }
      }

      &__card-2 {
        @include card;
        background-image:linear-gradient(rgba(35, 34, 34, 0.693)), url('../img/sdd.jpg');
        margin-right:1rem;
        transition:all .2s;
        transform:scale(0.9);

        &:hover {
            transform:scale(1);
            filter: grayscale(0);
            background-image:linear-gradient(rgba(35, 34, 34, 0)), url('../img/sdd.jpg');
        }
      }

      &__card-3 {
        @include card;
        background-image:linear-gradient(rgba(35, 34, 34, 0.693)), url('../img/sddd.jpg');
        margin-right:1rem;
        transition:all .2s;
        transform:scale(0.9);

        &:hover {
            transform:scale(1);
            filter: grayscale(0);
            background-image:linear-gradient(rgba(35, 34, 34, 0)), url('../img/sddd.jpg');
        }
      }

      &__card-4 {
        @include card;
        background-image:linear-gradient(rgba(35, 34, 34, 0.693)), url('../img/sa.jpg');
        margin-right:1rem;
        transition:all .2s;
        transform:scale(0.9);

        &:hover {
            transform:scale(1);
            filter: grayscale(0);
            background-image:linear-gradient(rgba(35, 34, 34, 0)), url('../img/sa.jpg');
        }
      }
    
  }
}

.tray {
   // height:70vh;//test
    background-color:$white;

    &__intro {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        color:black;
        padding-top:5%;
  
        p {
            font-size:1.5rem;
            margin-bottom:5px;
        }
  
        h2 {
            font-weight:800;
            font-size:3.5rem;
        }
        &-line {
            height:4px;
            width:5rem;
            background-color:$primary;
            margin-bottom:3rem;
        }
    }

    &__dish {
        display:flex;
        flex-direction: column;

        &-1 {
            background-color:$white;
            //background-image: linear-gradient(to right bottom, $primary_light, $primary_dark);
            height:15rem;
            display:flex;
            justify-content:space-around;
            align-items:center;
            animation:move;
            animation-duration:2s;
            animation-direction: alternate-reverse;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;

            img {
                width:10rem;
                height: 10rem;
            }
        }

        &-2 {
            background-color:$white;
           // background-image: linear-gradient(to right bottom, $primary_light, $primary_dark);
            height:15rem;
            display:flex;
            justify-content:space-around;
            align-items:center;
            animation:move;
            animation-duration:2s;
            animation-direction: alternate-reverse;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;

            img {
                width:10rem;
                height: 10rem;
            }
        }
    }
}

.footer {
    background-image: linear-gradient(to right bottom, $primary_light, $primary_dark);
    color:$white;
    padding-top:3rem;
    display:flex;
    justify-content:center;
    align-items:center;

    &__info {
      //  flex-basis:50%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        margin-right:3rem;


        h5{
            font-size:1.2rem;
        }

        h4 {
            font-weight:800;
            font-size:4rem;
            line-height:5rem;
        }
    }

    &__box {
       // flex-basis:10%;
        display:flex;
        min-width:20rem;
        justify-content:space-between;
        align-items:center;

        &-icon {
            width:5rem;
            height:5rem; 
        }
    }
}

@keyframes rotate {
    0% {
    transform:rotate(0deg);
    }

    100% {
       transform:rotate(360deg);
    }
}

@keyframes change {
    0% {
        background-image: url('../img/b.jpg');
    }
    
     100% {
        background-image: url('../img/k.jpg');
    }
}
@keyframes change1 {
    0% {
        transform:rotate(360deg);
        background-image: url('../img/new.png');
    }
    
     100% {
        transform:rotate(0deg);
        background-image: url('../img/r.png');
    }
}

@keyframes move {
    0%{
        transform:scale(0.6);
        // transform:translateX(-15rem); 
    }

    100% {
        transform:scale(1);
        //transform:translateX(0); 
    }
}

