@import "abstract/mixin";
@import "abstract/base";
@import "abstract/animation";
@import "components/chef";
@import "components/features";
@import "components/footer";
@import "components/header";
@import "components/tray"; 

.line {
    background-color:$primary;
    width:3rem;
    height:3px;
    margin-bottom:1rem;
}

.container {
    max-width: 120rem;
    margin: 8rem auto;
    box-shadow: $shadow_dark;
    min-height: 50rem; 
    background-color: white;

    @media only screen and (max-width:$dt) {
        margin:0;
        max-width:100%;
        width:100%;
    }
}











